{% extends 'pages/base.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/add_product.css' %}">

<div class="add-product-container">
    <h2>Add New Product</h2>

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <label>Product Name</label>
        <input type="text" name="name" placeholder="Enter product name" required>

        <div class="input-group-row">
            <div class="input-field">
                <label>Brand</label>
                <input type="text" name="brand" placeholder="e.g. Samsung">
            </div>
            <div class="input-field">
                <label>Category</label>
                <select name="category" required>
                    <option value="">Select Category</option>
                    {% for category in categories %}
                    <option value="{{ category.id }}">{{ category.name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <div class="input-group-row">
            <div class="input-field">
                <label>Original Price (Rs.)</label>
                <input type="number" name="price" placeholder="0.00" required>
            </div>
            <div class="input-field">
                <label>Discount Percentage (Optional)</label>
                <input type="number" name="discount_percentage" placeholder="0.00"  min="0"  max="100" step="0.01">
            </div>
        </div>

        <label>Available Stock</label>
        <input type="number" name="stock" value="1" min="1" required>

        <label>SKU</label>
        <input type="text" name="sku" placeholder="Enter SKU">

        <label>Product Description</label>
        <textarea name="description" placeholder="Write something about the product..."></textarea>

        <label>Product Image</label>
        <input type="file" name="image" accept="image/*" required>

        <button type="submit">🚀 Add Product to Store</button>
    </form>
</div>

{% endblock %}